<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intern.project.approval.mapper.UserMapper">
    <select id="selectUser" parameterType="String" resultType="com.intern.project.approval.domain.User">
        select user_id, name, frst_reg_user_id, frst_reg_dtmt, last_chg_user_id, last_chg_dtmt
          from test_user where user_id = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.intern.project.approval.domain.User">
        insert into test_user(user_id, name, frst_reg_user_id, frst_reg_dtmt, last_chg_user_id, last_chg_dtmt)
        values (#{userId}, #{name}, #{frstRegUserId}, now(), #{lastChgUserId})
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete from table_user where user_id = #{userId}
    </delete>

    <update id="updateUser" parameterType="com.intern.project.approval.domain.User">
        update test_user set name = #{name}, last_chg_dtmt = now() where user_id = #{userId}
    </update>
</mapper>